{% extends 'main.html.twig' %}

{% block title %}Coba Artikel{% endblock %}

{% block body %}
    {% if article %}
        <table id="article" class="table table-striped">
            <thead>
                <tr>
                    <th>Judul Artikel</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for articles in article %}
                    <tr>
                        <td>{{ articles.title }}</td>
                        <td>
                            <a href="/article/{{ articles.id }}" class="btn btn-dark">Show</a>
                            <a href="/article/edit/{{ articles.id }}" class="btn btn-light">Edit</a>
                            {# <a href="/" class="btn btn-danger delete-article" data-id="
                            {{ articles.id }}">Delete</a> #}
                            <a href="/article/delete/{{ articles.id }}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p> Tidak ada artikel </p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {# <script src="/js/main.js"></script> #}
{% endblock %}